.formControl {
    margin-bottom: 30px !important;
}

.text {
    display: none;
}

/* media queries */
@media (max-width: 770px) {
    .text {
        display: block;
        margin: 5% 0;
        text-align: center;
    }
}